<ion-content padding>

    <div class="ttct-app-icon">
      <img id="logo" [src]="'./assets/imgs/logo.png'" alt="Company logo" />
    </div>
    
    <form [formGroup]="loginFormGroup" class="ttct-form P-8-32" (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
      <div class="ttct-relative">
        <ion-item class="ttct-force-rtl">
          <ion-label> <ion-icon name="md-call"></ion-icon></ion-label>
          <ion-input  my-input [placeholder] = "'COMMON.gsm' | translate" type="tel" name="gsm" [(ngModel)]="loginObj.Username" formControlName="gsm" minlength="8" maxlength="8"></ion-input  >
        </ion-item>

        <ion-icon *ngIf="loginFormGroup.controls.gsm.errors && loginFormGroup.controls.gsm.errors.required && loginFormGroup.controls.gsm.dirty" 
        name="information-circle" class="ttct-error-info"
        (click)="toast('This field is required')"></ion-icon>
        <ion-icon *ngIf="loginFormGroup.controls.gsm.errors && loginFormGroup.controls.gsm.errors.minlength && loginFormGroup.controls.gsm.dirty" 
        name="information-circle" class="ttct-error-info"
        (click)="toast('should be 8 digits')"></ion-icon>
        <ion-icon *ngIf="loginFormGroup.controls.gsm.errors && loginFormGroup.controls.gsm.errors.maxlength && loginFormGroup.controls.gsm.dirty" 
        name="information-circle" class="ttct-error-info"
        (click)="toast('should be less than 8 characters')"></ion-icon>
        <ion-icon *ngIf="loginFormGroup.controls.gsm.errors && loginFormGroup.controls.gsm.errors.pattern && loginFormGroup.controls.gsm.dirty" 
        name="information-circle" class="ttct-error-info"
        (click)="toast('Please enter a valid gsm')"></ion-icon>
      </div>

      <div class="ttct-relative">
        <ion-item class="ttct-force-rtl">
          <ion-label> <ion-icon name="ios-unlock"></ion-icon></ion-label>
          <ion-input type="{{type}}" my-input [placeholder] = "'COMMON.password' | translate" type="password" name="password" [(ngModel)]="loginObj.Password" formControlName="password" minlength="3" maxlength="20"></ion-input>
        </ion-item>

        <ion-icon *ngIf="loginFormGroup.controls.password.errors && loginFormGroup.controls.password.errors.required && loginFormGroup.controls.password.dirty" 
        name="information-circle" class="ttct-error-info"
        (click)="toast('This field is required')"></ion-icon>
        <ion-icon *ngIf="loginFormGroup.controls.password.errors && loginFormGroup.controls.password.errors.minlength && loginFormGroup.controls.password.dirty" 
        name="information-circle" class="ttct-error-info"
        (click)="toast('should be 8 digits')"></ion-icon>
        <ion-icon *ngIf="loginFormGroup.controls.password.errors && loginFormGroup.controls.password.errors.maxlength && loginFormGroup.controls.password.dirty" 
        name="information-circle" class="ttct-error-info"
        (click)="toast('should be less than 8 characters')"></ion-icon>

        <ion-icon *ngIf="!(loginFormGroup.controls.password.errors && loginFormGroup.controls.password.dirty)" name="{{type === 'password' ? 'ios-eye' : 'ios-eye-off'}}" class="ttct-info" (click)="changeType()"></ion-icon>

      </div>

      <div class="login-submit-button-wrapper">
        <button type="submit" [disabled]="!loginForm.valid" ion-button>
          <span [innerHTML] = "'COMMON.submit' | translate"></span>
        </button>
      </div>

    </form>

    <div class="ttct-center">
      <a class="ttct-underline" (click)="openPage('ConfirmOTPPage')"><span [innerHTML]="'COMMON.forgotPassword' | translate"></span></a>
    </div>

    <div class="register-wrapper">
      <a (click)="openPage('Register')">
        <ion-grid no-padding >
          <ion-row no-padding align-items-center>
            <ion-col col-8 no-padding>
              <div class="ttct-label-head"><span [innerHTML]="'REGISTER.noAccount' | translate"></span>?</div>
              <div class="ttct-label-body"><span [innerHTML]="'REGISTER.clickRegister' | translate"></span></div>
            </ion-col>
            <ion-col col-4 no-padding class="ttct-align-right">
              <button ion-button>
              <span [innerHTML]="'COMMON.register' | translate"></span>
            </button>
            </ion-col>
            
          </ion-row>
        </ion-grid>
        

      </a>
    </div>

    <div class="ttct-center ttct-lang-button-wrapper">
        <button class="ttct-round-button" *ngIf="language === 'ar'" ion-button icon-only (click)="changeLanguage('en')">
          <ion-icon name="ios-heart-outline"></ion-icon>
        </button>
        <button class="ttct-round-button" *ngIf="language === 'en'" ion-button icon-only (click)="changeLanguage('ar')">
          <ion-icon name="ios-heart"></ion-icon>
        </button>
        <!--<div class="ttct-light-label" [innerHTML] = "'COMMON.changeLanguage' | translate"></div>-->
    </div>

</ion-content>
