<ion-header class="ttct-header">
  <ion-navbar>
    <ion-title class="title-ios ttct-center"><span [innerHTML]="'COMMON.register' | translate"></span></ion-title>
  </ion-navbar>
  <div class="ttct-lang-button-wrapper">
    <button class="ttct-round-button ttct-no-box-shadow" *ngIf="language === 'ar'" ion-button icon-only (click)="changeLanguage('en')">
      <ion-icon name="ios-heart-outline"></ion-icon>
    </button>
    <button class="ttct-round-button ttct-no-box-shadow" *ngIf="language === 'en'" ion-button icon-only (click)="changeLanguage('ar')">
      <ion-icon name="ios-heart"></ion-icon>
    </button>
  </div>
</ion-header>
<ion-content padding>
  <div class="ttct-center ttct-light-IV ttct-italics" [innerHTML]="'REGISTER.fillupDetails' | translate"></div>

      <form [formGroup]="registerFormGroup" class="ttct-form P-8" (ngSubmit)="onRegisterSubmit()" #registerForm="ngForm">

        <!-- username -->
        <div class="ttct-relative">
          <ion-item class="ttct-force-rtl">
            <ion-label> <ion-icon name="ios-person"></ion-icon></ion-label>
            <ion-input my-input [placeholder] = "'COMMON.name' | translate" type="text" name="username" [(ngModel)]="regObj.user_name" formControlName="username" minlength="3" maxlength="20"></ion-input  >
          </ion-item>

          <ion-icon *ngIf="registerFormGroup.controls.username.errors && registerFormGroup.controls.username.errors.required && registerFormGroup.controls.username.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('This field is required')"></ion-icon>
          <ion-icon *ngIf="registerFormGroup.controls.username.errors && registerFormGroup.controls.username.errors.minlength && registerFormGroup.controls.username.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('should be 8 digits')"></ion-icon>
          <ion-icon *ngIf="registerFormGroup.controls.username.errors && registerFormGroup.controls.username.errors.maxlength && registerFormGroup.controls.username.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('should be less than 8 characters')"></ion-icon>
          <ion-icon *ngIf="registerFormGroup.controls.username.errors && registerFormGroup.controls.username.errors.pattern && registerFormGroup.controls.username.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('Please enter a valid username')"></ion-icon>
        </div>
        <!---->

        <!-- email -->
        <div class="ttct-relative">
          <ion-item class="ttct-force-rtl">
            <ion-label> <ion-icon name="ios-mail"></ion-icon></ion-label>
            <ion-input my-input [placeholder] = "'COMMON.email' | translate" type="text" name="email" [(ngModel)]="regObj.user_email" formControlName="email"></ion-input  >
          </ion-item>

          <ion-icon *ngIf="registerFormGroup.controls.email.errors && registerFormGroup.controls.email.errors.required && registerFormGroup.controls.email.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('This field is required')"></ion-icon>

          <ion-icon *ngIf="registerFormGroup.controls.email.errors && registerFormGroup.controls.email.errors.pattern && registerFormGroup.controls.email.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('Please enter a valid email')"></ion-icon>

        </div>
        <!---->

        <!-- mobile -->
        <div class="ttct-relative">
          <ion-item class="ttct-force-rtl">
            <ion-label> <ion-icon name="md-call"></ion-icon></ion-label>
            <ion-input my-input [placeholder] = "'COMMON.gsm' | translate" type="tel" name="gsm" [(ngModel)]="regObj.user_ph" formControlName="gsm" minlength="8" maxlength="10"></ion-input>
          </ion-item>

          <ion-icon *ngIf="registerFormGroup.controls.gsm.errors && registerFormGroup.controls.gsm.errors.required && registerFormGroup.controls.gsm.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('This field is required')"></ion-icon>
          <ion-icon *ngIf="registerFormGroup.controls.gsm.errors && registerFormGroup.controls.gsm.errors.minlength && registerFormGroup.controls.gsm.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('should be 8 digits')"></ion-icon>
          <ion-icon *ngIf="registerFormGroup.controls.gsm.errors && registerFormGroup.controls.gsm.errors.maxlength && registerFormGroup.controls.gsm.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('should be less than 8 characters')"></ion-icon>
          <ion-icon *ngIf="registerFormGroup.controls.gsm.errors && registerFormGroup.controls.gsm.errors.pattern && registerFormGroup.controls.gsm.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('Please enter a valid mobile number')"></ion-icon>
        </div>
        <!---->

         <!-- password -->
        <div class="ttct-relative">
          <ion-item class="ttct-force-rtl">
            <ion-label> <ion-icon name="ios-unlock"></ion-icon></ion-label>
            <ion-input my-input [placeholder] = "'COMMON.password' | translate" type="{{type}}" name="password" [(ngModel)]="regObj.user_password" formControlName="password" minlength="3" maxlength="12"></ion-input>
          </ion-item>

          <ion-icon *ngIf="registerFormGroup.controls.password.errors && registerFormGroup.controls.password.errors.required && registerFormGroup.controls.password.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('This field is required')"></ion-icon>
          <ion-icon *ngIf="registerFormGroup.controls.password.errors && registerFormGroup.controls.password.errors.minlength && registerFormGroup.controls.password.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('should be 8 digits')"></ion-icon>
          <ion-icon *ngIf="registerFormGroup.controls.password.errors && registerFormGroup.controls.password.errors.maxlength && registerFormGroup.controls.password.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('should be less than 8 characters')"></ion-icon>
          <ion-icon *ngIf="registerFormGroup.controls.password.errors && registerFormGroup.controls.password.errors.pattern && registerFormGroup.controls.password.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('Please enter a valid password')"></ion-icon>

          <ion-icon *ngIf="!(registerFormGroup.controls.password.errors && registerFormGroup.controls.password.dirty)" name="{{type === 'password' ? 'ios-eye' : 'ios-eye-off'}}" class="ttct-info" (click)="changeType()"></ion-icon>

        </div>
        <!---->
        <!-- confirm password -->
        <div class="ttct-relative">
          <ion-item class="ttct-force-rtl">
            <ion-label> <ion-icon name="ios-unlock"></ion-icon></ion-label>
            <ion-input [disabled]= "!regObj.user_password" my-input [placeholder] = "'REGISTER.confirmPassword' | translate" type="{{type}}" name="confirmPassword" [(ngModel)]="regObj.confirm_password" formControlName="confirmPassword"></ion-input>
          </ion-item>

          <ion-icon *ngIf="registerFormGroup.controls.confirmPassword.errors && registerFormGroup.controls.confirmPassword.errors.required && registerFormGroup.controls.confirmPassword.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('This field is required')"></ion-icon>

          <ion-icon *ngIf="regObj.user_password && regObj.user_password !== regObj.confirm_password && registerFormGroup.controls.confirmPassword.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('Mismatch')"></ion-icon>

          <ion-icon *ngIf="!regObj.user_password && regObj.confirm_password && registerFormGroup.controls.confirmPassword.dirty" 
          name="information-circle" class="ttct-error-info"
          (click)="toast('Please enter a valid password')"></ion-icon>


          <!--<div ng-show="(registerForm.confirmPassword.$invalid && !registerForm.confirmPassword.$pristine) || (!registerForm.confirmPassword.$pristine && register.password && register.confirmPassword !== register.password)" class="ttct-error keep-right" ng-click="showInfo('common.mismatch')">
									<i class="F-24 ttct-red-color ion-information-circled"></i>
								</div>

								<div ng-show="(registerForm.confirmPassword.$invalid && !registerForm.confirmPassword.$pristine) || (!registerForm.confirmPassword.$pristine && !register.password)" class="ttct-error keep-right" ng-click="showInfo('myAccount.invalidPassword')">
									<i class="F-24 ttct-red-color ion-information-circled"></i>
								</div>-->

        </div>
        <!---->

        <!--set marker-->
        <div class="ttct-relative PTB-8">
            <div class="ttct-location-wrapper">
                <button class="ttct-page-location-label" type="button" ion-button (click)="viewLocation()">
                    <div class="ttct-page-label ttct-btn-label" [innerHTML]="'REQUEST.chooseLocation' | translate"></div>
                    <div class="ttct-light-IV ttct-italics ttct-btn-label F-12">
                        (<span [innerHTML]="'REQUEST.viewLocation' | translate"></span>)
                    </div>
                </button>
            </div>
            <ion-list radio-group>
            <ion-item>
                <ion-label>{{'REQUEST.current' | translate}}</ion-label>
                <ion-radio value="CURRENT" checked (ionSelect)="openMap('CURRENT')"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>{{'REQUEST.map' | translate}}</ion-label>
                <ion-radio value="MAP" (ionSelect)="openMap('MAP')"></ion-radio>
            </ion-item>
            </ion-list>
        </div>

      <div class="register-submit-button-wrapper">
        <button type="submit" [disabled]="!registerForm.valid" ion-button>
          <span [innerHTML] = "'REGISTER.register' | translate"></span>
        </button>
      </div>

    </form>

</ion-content>
