<ion-header>

  <ion-navbar>
    <ion-title class="title-ios ttct-center"><span [innerHTML]="'COMMON.forgotPassword' | translate"></span></ion-title>
  </ion-navbar>
  <div class="ttct-lang-button-wrapper">
    <button class="ttct-round-button" *ngIf="language === 'ar'" ion-button icon-only (click)="changeLanguage('en')">
      <ion-icon name="ios-heart-outline"></ion-icon>
    </button>
    <button class="ttct-round-button" *ngIf="language === 'en'" ion-button icon-only (click)="changeLanguage('ar')">
      <ion-icon name="ios-heart"></ion-icon>
    </button>
  </div>
  <button menuToggle ion-button icon-only class="ttct-menu-btn-right">
      <ion-icon name="menu"></ion-icon>
  </button>
</ion-header>


<ion-content padding>

</ion-content>
