page-home {
    .scroll-content {
        margin-top : 64px !important;
    }
}
.ios {
    page-home {
        .scroll-content {
            margin-top : 52px !important;
        }
        page-my-requests {
            .scroll-content {
                margin-top : 72px !important;
            }
        }
    }
}